<div class="contact-section">
  <h2 style="border-bottom: 5px solid rgb(184, 205, 50); width: 530px; margin-left: 170px; font-size: 50px;">Let's Get In Touch</h2>
  <p style="font-size: 18px;">Ask me anything on either Web Development or Mobile Development. <br /> I'm always open to Mobile Development and feel free to contact me by <br /> just pressing the button below.</p>
  <button (click)="redirectToContactPage()" style="font-size: 20px; font-weight: 500; margin-bottom: 18px;">CONTACT ME</button>
</div>
