<section class="section timeline">

  <div class="section-title">
    <h2>Journey In Tech</h2>
  </div>

  <div class="configst" style="background-color: rgb(227, 227, 184);">
    <br />
    <div class="section-center timeline-center" style="margin-left: 25px; margin-right: 25px; margin-top: 20px; margin-bottom: 20px;">
      <article class="timeline-item">
        <h4>2012</h4>
        <p>Joined HighSchool where I became a lover of computers, Music and Drama chairperson</p>
        <span class="number"> 1 </span>
      </article>

      <article class="timeline-item">
        <h4>2013</h4>
        <p>
          Wrote my first query using Ms Acces. HaHa
        </p>
        <span class="number"> 2 </span>
      </article>

      <article class="timeline-item">
        <h4>2016</h4>
        <p>Completed Highschool studies.</p>
        <span class="number"> 3 </span>
      </article>

      <article class="timeline-item">
        <h4>2017</h4>
        <p>Started Computer Science Degree. Learnt different programming languages, became a great team-player. Build my first website and mobile application.</p>
        <span class="number"> 4 </span>
      </article>

      <article class="timeline-item">
        <h4>2021</h4>
        <p>Completed My Bachelor's Degree</p>
        <span class="number"> 5 </span>
      </article>

      <article class="timeline-item">
        <h4>2021</h4>
        <p>Became a web-design tutor in a College</p>
        <span class="number"> 6 </span>
      </article>

      <article class="timeline-item">
        <h4>2022</h4>
        <p>Joined software development firm</p>
        <span class="number"> 7 </span>
      </article>
    </div>
    <br />
  </div>

</section>
