
<div class="main-card">
  <div class="card card-left">
    <img src="https://cdn.pixabay.com/photo/2012/10/29/15/36/ball-63527__340.jpg" alt="Ball Image">
  </div>
  <br />
  <div class="card card-right">
    <h2 class="abt" style="text-align: center; font-size: 40px; font-style: inherit;" >About</h2>
    <h2>My name is Meshack Korir</h2>
    <p>I have 2 years of experience as a software developer. I specialize in Angular and React for frontend development, and Node.js and Ruby on Rails for backend development. I have experience working with databases like Postgres and SQL, as well as using Azure.</p>
    

    <div><button class="more" style="font-style: normal; font-weight: bold; background-color: rgb(181, 181, 79); width: 180px; height: 30px; border-radius: 10px; text-align: center; align-items: center; margin-top: 20px; cursor: pointer;">MORE ABOUT ME</button></div>
  </div>
</div>

<br />
<br />

