<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-rp2sM0JyKDWp5s0e7V0aMSt8C9GmMb1/jmkA5UeB6a/o3BZ6S4I8QgBRB8rl1TVl8sEoC1wQIWUnLAmRwY70hA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>
  <div class="flex">
    <div class="soft">
      <h1>I'm Meshack Korir</h1>
      <br />
      <p class="cladi">I am a software developer and mobile developer.</p>

      <br />
      <div class="social-icons">
        <img src="../../../assets/instagram.svg" />
        <img src="../../../assets/tiktok.svg" />
        <img src="../../../assets/twitter.svg" />
        <img src="../../../assets/youtube.svg" />
      </div>
      <br />
      <br />
      <button id="button" style="font-style: normal; font-weight: 600;">Hire Me</button>
    </div>
    <div class="imaged">
      <img src="https://www.upwork.com/profile-portraits/c1woxFmX6eAEhxclgJdg5e-f9yXwRGSc2JxECK3-hcGE40_LK1xe1JXian2tvBNE15" alt="Meshack Korir" />
    </div>
  </div>
</nav>
