<body>
<div class="books-container">
  <h2 style="font-weight: 700; color: rgb(54, 53, 53); font-size: 40px; border-bottom: 4px solid rgb(184, 205, 50); width: 260px; justify-content: center; align-items: center;">Favorite Books</h2>
  <div class="top-row">
    <div class="book-card">
      <img src="../../../assets/Alone.webp" alt="Book 1" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd9o3umEaKTOjDnHDWHSebtyMjUBilXI0nfw&s" alt="Book 2" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="../../../assets/city.jpg" alt="Book 3" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="../../../assets/Dark.webp" alt="Book 4" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
  </div>

  <div class="bottom-row">
    <div class="book-card">
      <img src="../../../assets/harryPotter.jpg" alt="Book 5" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="../../../assets/orange.jpg" alt="Book 6" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="../../../assets/soul.jpg" alt="Book 7" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
    <div class="book-card">
      <img src="../../../assets/last.jpg" alt="Book 8" style="height: 350px; width: 280px; border-radius: 4px; margin-top: 10px;">
      <p>READ MORE</p>
    </div>
  </div>
</div>
</body>
