<div class="services">
  <h2 style="font-size: 60px; border-bottom: 5px solid rgb(184, 205, 50); width: 170px; justify-content: center; align-items: center; margin-left: 700px;">Services</h2>
  <div class="cadiol">
    <div class="card">
      <i class="fas fa-mobile-alt"></i>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRjsWEKQEVP-H3VD52iJVIHlnYQtNlMPpI-FJym38mGgA&s"  style="height: 55px; width: 60px; margin-left: 130px;"/>
      <h3 style="border-bottom: 3px solid rgb(205, 192, 50);">App Development</h3>
      <p>I got into Mobile App Development because I was curious to know how applications are created and I ended up loving it.</p>
    </div>
    <div class="card">
      <i class="fas fa-globe"></i>
      <img src="https://cdn.vectorstock.com/i/preview-1x/06/89/web-development-icon-vector-21010689.webp" style="height: 55px; width: 60px; margin-left: 130px;" />
      <h3 style="border-bottom: 3px solid rgb(205, 192, 50);">Web Development</h3>
      <p>Web Development is very awesome.</p>
    </div>
    <div class="card">
      <i class="fas fa-paint-brush"></i>
      <img src="../../../assets/4923070_sketch_icon.png" style="height: 55px; width: 60px; margin-left: 130px;" />
      <h3 style="border-bottom: 3px solid rgb(205, 192, 50);">Web Design</h3>
      <p>Web design is very awesome. Imagine developing a site that is used worldwide!</p>
    </div>
  </div>
</div>
