<body>

  <div class="container">
    <h1>Skills Showcase</h1>
    <ul>
      <li>
        <div class="skill">JavaScript</div>
        <div class="progress-bar" style="width: 90%;"></div>
        <span class="percentage">90%</span>
      </li>
      <li>
        <span class="skill">React.js</span>
        <div class="progress-bar" style="width: 85%;"></div>
        <span class="percentage">85%</span>
      </li>
      <li>
        <span class="skill">Node.js</span>
        <div class="progress-bar" style="width: 80%;"></div>
        <span class="percentage">80%</span>
      </li>
      <li>
        <span class="skill">Ruby</span>
        <div class="progress-bar" style="width: 75%;"></div>
        <span class="percentage">75%</span>
      </li>
      <li>
        <span class="skill">Angular.js</span>
        <div class="progress-bar" style="width: 60%;"></div>
        <span class="percentage">60%</span>
      </li>
      <li>
        <span class="skill">Typescript</span>
        <div class="progress-bar" style="width: 65%;"></div>
        <span class="percentage">65%</span>
      </li>
      <li>
        <span class="skill">SQL</span>
        <div class="progress-bar" style="width: 60%;"></div>
        <span class="percentage">60%</span>
      </li>
      <li>
        <span class="skill">Azure</span>
        <div class="progress-bar" style="width: 55%;"></div>
        <span class="percentage">55%</span>
      </li>
      <li>
        <span class="skill">HTML</span>
        <div class="progress-bar" style="width: 90%;"></div>
        <span class="percentage">90%</span>
      </li>
      <li>
        <span class="skill">CSS</span>
        <div class="progress-bar" style="width: 90%;"></div>
        <span class="percentage">90%</span>
      </li>
    </ul>
  </div>

  </body>
